* {
    box-sizing: border-box;
}
/* just so i can make commit coz the last time i pressed ENTER by mistake*/
/* just so i can make commit coz the last time i pressed ENTER by mistake*/
/* just so i can make commit coz the last time i pressed ENTER by mistake*/
html, body, section, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.page {
  position: absolute;
  color: #fff;
	padding: 0;
	margin:0;
}
#p1 {
  left: 0;
  background-image: url(../img/background_alt.png);
  background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}
#p2 {
  left: 100%;
	background-color:#a5683fea;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 20px;
}
#p3 {
  left: 200%;
  background-color:#0d2829ea;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 20px;
}
#p4 {
  left: 300%;
  background-color: #603c50ea;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 20px;
}

ul {
 background-color: #273e43ab;
	border-right: 1px solid #3d8f9dbf;

  list-style-type: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
	height: auto;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
 z-index: 1;
  
 }

/* FOR MOVING PANELS P1,P2,P3,P4*/
#t1:target .page#p1 {
    transform: translateX(0);
}
#t2:target .page#p2 {
    transform: translateX(-90%);
}
#t3:target .page#p3 {
    transform: translateX(-190%);
}
#t4:target .page#p4 {
    transform: translateX(-290%);
}

.page#p1 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#t2:target .page#p1, 
#t3:target .page#p1,
#t4:target .page#p1 {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.img_class{
  display: block;
  margin-left: 20px;
  max-width: 80px;
  min-width: 30px;
  margin-right: 10px;
}
hr{
  border-style: solid;
  color: #3d8f9dbf;
}


ul li {
  margin: 30px 0;
}

a {
  text-decoration: none!important;
}

/*end of test*/
  body{
    font-family: "Open Sans";
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .main {
    color: #fff;
    float:left;
    width:60%;
    margin-left: 150px; 
    padding:0 20px;
    font-weight: 500;
  }
   /* FOR MOBILE PHONES TO SCALE */
   @media (max-width: 500px){ 
    .img_class{
      margin-left: 20%; 
      margin-right: 20%;
      max-width: 45px;
      min-width: 35px;
    } 
    body {
      color: black;
    }
  }
 
  @media (max-width: 850px){ 
    .img_class{
      margin-right: 20%;
      margin-left: 20%;
      max-width: 40px;
    }
    #p1 {
      padding-right: -10%;
    }
    #p2 {
      margin-left: 10%;
    }
    
    #p3 {
      margin-left: 10%;
    }
    #p4 {
      margin-left: 10%;
    }
    ul {
      padding-top: 20%;
        width: 20%;
        text-align: center;
        margin-right: 10%;
        overflow-y: auto;
    }
    ul li{
     text-align: center;
    }
    
    #p1 .primary-button {
      margin-bottom: 100px;
    }
    html, body, section{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    }
    .main{
      margin-left: 20%;
      width:80%;
    }
  }
  @media (max-width: 1030px){ 
    .img_class{
      margin-right: 20%;
      margin-left: 20%;
      max-width: 40px;
    }
    #p1 {
      padding-right: -10%;
    }
    #p2 {
      margin-left: 0%;
    }
    
    #p3 {
      margin-left: 0%;
    }
    #p4 {
      margin-left: 0%;
    }
    ul {
      padding-top: 20%;
        width: 20%;
        text-align: center;
        margin-right: 10%;
        max-width: 80px;
    }
    ul li{
     text-align: center;
     margin-right: 0px;
    }
    
    #p1 .primary-button {
      margin-bottom: 100px;
    }
    html, body, section{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    }
    .main{
      margin-left: 20%;
      width:80%;
    }
  }