/*
logo colors:
    logo:#227562
    background:#0d352c
*/

* {
    box-sizing: border-box;
}
  /*TEST*/

  /*--------menu icons start--------*/
 
  /*--------menu icons finish--------*/
  
html, body, section, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  color: #fff;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.page {
	position: absolute;
	padding: 0;
	margin:0;
}

.form-control{

	border: 1px solid #fff;
}
#p1 {
  left: 0;
  background-image: url("../img/background.jpg");
  background-image: url(../img/background_alt.png);
  background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}
#p2 {
  left: 100%;
	background-color:#0d2829fa;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}

#p3 {
  left: 200%;
  background-color:transparent;
	margin: 0;
	padding: 0;
}
#p4 {
  left: 300%;
  background-color: #603c50;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}
ul {
 position: fixed; 
 z-index: 1;

}
#t1:target .page#p1 {
    transform: translateX(0);
}
#t2:target .page#p2 {
    transform: translateX(-90%);
}
#t3:target .page#p3 {
    transform: translateX(-190%);
}
#t4:target .page#p4 {
    transform: translateX(-290%);
}
#t1:target ul, 
#t2:target ul, 
#t3:target ul,
#t4:target ul {
	background-color: #141d21ab;

	border-right: 1px solid #fff;

}

.page#p1 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#t2:target .page#p1 .icon, 
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.img_class{
  display: block;
  margin-left: 25px;
  max-width: 80px;
}
hr{
	border-style: solid;
}
ul .icon:hover {
	color:#c1b5dd;
  opacity: 0.8;
}

#t1:target ul .icon,
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
  transform: scale(1); 
  transition-delay: .1s;
}

#t1:target #first {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t2:target #second {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t3:target #third {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t4:target #fourth {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
	height: auto;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
 }

ul li {
  margin: 30px 0;
}
ul li a {
  display:block;
}
ul li a:hover, ul li a:focus {
  background-color:rgb(111, 26, 26);
 }

a {
  text-decoration: none!important;
}


/*end of test*/
  body{
    font-family: "Open Sans";
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  header{
    padding:15px;
    text-align:center;
  }
  footer{
    text-align:center;
    padding:10px;
    margin-top:7px;
}
  #section01{
    overflow:auto;
 
  }
  .menu {
    float:left;
    width:20%;
    text-align:center;
  }
  .menu a {
    text-decoration: none;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
    font-weight: 400;
    text-shadow: none;
    /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
  }
  /* .menu a:hover {
    color:#e5e5e5; 
    background:#37917d;
  } */
  
  .main {
    float:left;
    width:60%;
    margin-left: 150px; 
    padding:0 20px;
    font-weight: 500;
  }
/* ANIMATION OF THE ICON */
  .overlay {
    
    background-color: #008CBA;
    overflow: hidden;
    height: 100%;
    -webkit-transform:scale(0);
    transition: .3s ease;
  }
  
/* When you mouse over the container, the overlay text will "zoom" in display */
.icon_competition:hover .overlay {
  transform: scale(1)
}
   
  @media (max-width: 850px){ 
    #p1 {
      padding-left: 8%;
    }
    #p2 {
      margin-left: 10%;
    }
    
    #p3 {
      margin-left: 10%;
    }
    #p4 {
      margin-left: 10%;
    }
    ul {
      overflow: scroll;
      padding-top: 10%;
      padding-right: 20px;
        width: 20%;
        text-align: center;
       
    }
    ul li{
     text-align: center;
      
    }
    /* .page#p1 .icon {
        height: auto;

        /* padding: 80px 0px 0px 4%; 
    } */
    #p1 .primary-button {
      margin-bottom: 100px;
    }
    #p1 p {
      margin: 20px;
    }
    html, body, section{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    }
    
  }